<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
</head>
<body>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }
        nav{
            background: #ff5353;
            padding: 20px 10px
        }
        nav ul{
            max-width: 960px;
            margin:0 auto;
            padding: 0;
        }
        nav li{
           list-style-type: none;
            display: inline-block;
            padding: 0 10px 0 0;
        }

        nav a{
            color:  #fff;
            font-size: 18px;
            background-color: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block
         }
         main,header{
             max-width: 960px;
             margin:  30px auto;
             padding: 0 10px;
             color: #333;
         }
    </style>
<nav>
        <ul>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/">Home page</a>
                </li>
            </ul>
</nav>
<header>
    <h1>
        OAuth example
    </h1>
    <h2>
        Homepage
    </h2>
</header>
    <main>
        <p>
            ...
        </p>
    </main>



</body>
</html>