<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=L, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    
        <style>
                body{
                    font-family: Arial, Helvetica, sans-serif;
                    margin: 0;
                }
                nav{
                    background: #ff5353;
                    padding: 20px 10px
                }
                nav ul{
                    max-width: 960px;
                    margin:0 auto;
                    padding: 0;
                }
                nav li{
                   list-style-type: none;
                    display: inline-block;
                    padding: 0 10px 0 0;
                }
        
                nav a{
                    color:  #fff;
                    font-size: 18px;
                    background-color: rgba(255, 255, 255, 0.2);
                    text-decoration: none;
                    padding: 10px;
                    display: block
                 }
                 main,header{
                     max-width: 960px;
                     margin:  30px auto;
                     padding: 0 10px;
                     color: #333;
                 }
                 .google-btn{
                   color: #fff;
                   text-decoration: none;
                   font-size: 18px;
                   padding: 10px;
                   background: #ff5353;
                }
            </style>    
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/">Home page</a>
            </li>
        </ul>
    </nav>
    <header>
        <h7>
            Login using...
        </h7>
    </header>
    <main>
        <a class="google-btn" href="/auth/google">Google +</a>
    </main>
</body>

</html>